html {
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f0f0f0;

    /* these lines makes sure that the scrollbar appearing doesn't cause layout changes */
    /* https://stackoverflow.com/a/39289453 */
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

*, *:before, *:after {
    box-sizing: inherit;
    font-size: inherit;
}

h1 { margin-block-start: 0.67em; margin-block-end: 0.67em; font-size: 2.00em; font-weight: bold; }
h2 { margin-block-start: 0.83em; margin-block-end: 0.83em; font-size: 1.50em; font-weight: bold; }
h3 { margin-block-start: 1.00em; margin-block-end: 1.00em; font-size: 1.17em; font-weight: bold; }
h4 { margin-block-start: 1.33em; margin-block-end: 1.33em; font-size: 1.00em; font-weight: bold; }
h5 { margin-block-start: 1.67em; margin-block-end: 1.67em; font-size: 0.83em; font-weight: bold; }
h6 { margin-block-start: 2.33em; margin-block-end: 2.33em; font-size: 0.67em; font-weight: bold; }







/* STRUCTURE */

body {
    margin: 0 0 0px 0; /* override user-agent style sheet */
    display: flex;
    justify-content: center;
}

div#body-wrapper {
    max-width: 1350px;
    margin: 20px;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

div#user-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 50px;
    align-items: stretch;

    margin-top: 30px;
    margin-bottom: 30px;
}

select {
    width: 270px;
}
textarea#user1a-textarea, textarea#user2a-textarea, textarea#user1b-textarea, textarea#user2b-textarea {
    font-size: 80%;
    width: 270px;
}

div#user1, div#user2 {
    min-width: 402px;
    max-width: 420px;
    flex: 1 1 30%;

    border: 1.5px solid #444444;
    border-radius: 4px;
    padding: 5px;

    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: min-content;
    row-gap: 20px;
    column-gap: 20px;
    align-items: baseline;
    align-content: start;
}

div#user1 {
    background-color: #daebf5;
}

div#user2 {
    background-color: #f2d9d5;
}

.small-text {
    font-size: 80%;
}

div#title {
    font-size: 80%;
}

div#filters {
    border: 1.5px solid #444444;
    border-radius: 4px;
    padding: 5px;

    /* these pertain to its role as a child in the parent flexbox */
    flex: 1 1 40%;
    margin-left: auto;
    margin-right: auto;

    /* these align its children */
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 20px;
    column-gap: 20px;
    align-items: baseline;
    align-content: start;
}


div#buttons {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div#submit {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#loading {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#filter-generations {
    display: grid;
    grid-template-columns: repeat(8, min-content);
    column-gap: 2px;
}

div#filter-balls {
    display: grid;
    grid-template-columns: repeat(11, min-content);
    column-gap: 2px;
}

div.twocols {
    grid-column: 1 / span 2;
}


div#results {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

div#results-wrapper {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    column-gap: 40px;
    align-items: start;
}

div#results-aprimon {
    min-width: 700px;
    flex-grow: 2;
}

div#results-selector {
    min-width: 350px;
    flex-grow: 1;
    position: sticky;
    top: 0px;
    height: 95vh;
}

textarea#results-selector-textarea {
    width: 100%;
    height: calc(95% - 120px);
    resize: none;
}

/* TABLE STYLING */

table.collection{
    font-size: 14px;
    border: 1px solid black;
    border-collapse: collapse;
}

input, select {
    font-family: "Source Sans Pro", sans-serif;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

tr.collection-row {
    min-height: 45px;
    height: 45px;
}

td.collection-entry {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    min-width: 45px;
    width: 45px;
}

td.selected {
    background-color: #4fc957;
}

td.unselected {
    background-color: none;
}

td.unselected:hover {
    background-color: #d8f2d9;
}
 
/* make it fade */
@supports (transition-property: background-color) {
    td {
        transition-property: background-color;
        transition-duration: 0.2s;
    }
}

td.inactive-entry {
    background-color: #707070;
}


img.constrained-height {
    max-height: 40px;
    height: auto;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.initially-hidden {
    /* generally, divs with this class are shown/hidden using JS */
    display: none;
}

span#copy-message {
    margin-left: 10px;
}

ul#instructions li {
    margin-top: 10px;
    margin-bottom: 10px;
}
