{% extends "base.html" %}

{% block content %}
<p>These are the Aprimon which /u/{{ them }} has and /u/{{ me }} doesn't</p>

<p><a href="{{ url_for('display_collection', me=them, them=me, sort=sort) }}">Swap the two users around</a></p>

<p><a href="{{ url_for('start_form') }}">Return to main page</a></p>

<table class="collection">
    <tr>
        <th>ND</th>
        <th>Pokémon</th>
        <th>Sprite</th>
        <th>Beast</th>
        <th>Dream</th>
        <th>Fast</th>
        <th>Friend</th>
        <th>Heavy</th>
        <th>Level</th>
        <th>Love</th>
        <th>Lure</th>
        <th>Moon</th>
        <th>Safari</th>
        <th>Sport</th>
    </tr>
{% for entry in entries %}
    <tr>
        <td class="collection_entry"><b>{{ entry.pokemon.national_dex }}</b></td>
        <td class="collection_entry"><b>{{ entry.pokemon.display_name }}</b></td>
        <td class="collection_entry"><img src="/static/sprites/{{ entry.pokemon.canonical_name }}.png"></td>
        {% if 'beast' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/beast.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'dream' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/dream.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'fast' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/fast.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'friend' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/friend.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'heavy' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/heavy.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'level' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/level.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'love' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/love.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'lure' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/lure.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'moon' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/moon.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'safari' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/safari.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
        {% if 'sport' in entry.balls %}
            <td class="collection_entry"><img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/sport.png"></td>
        {% else %}
            <td class="collection_entry"></td>
        {% endif %}
    </tr>
{% endfor %}
</table>

{% endblock %}
