{% extends "base.html" %}

{% block content %}
<h1>Welcome!</h1>

<p>This website will (try to) determine what Aprimon you can request from a trading partner, i.e. what they have but you don't have.</p>

<ul>

    <li><p>If you want the opposite (i.e. what you can offer them) please switch the two usernames around before submitting</p></li>

    <li><p>This is SwSh only for now; in principle it can be extended to BDSP or eventually Gen 9 and I definitely plan to do this... <i>soon</i></p></li>

    <li><p>Please note that this only checks a spreadsheet for the presence of a ticked box &mdash; it doesn't do anything fancy such as looking for HA availability or pending trades. It is still your responsibility to check for this (if it matters to you, e.g. for genderless/monogender species), or even better, inform your trade partner if you don't have HA on something!</p></li>

    <li><p>The comparison also combines entries from regional forms (e.g. Kanto and Alola Vulpix) and other things which can be crossbred (e.g. Basculin colours or Nidoran gender)</p></li>

    <li><p>This is very, very preliminary &mdash; if there are any issues please let me know &mdash; my Reddit username is <a href="https://reddit.com/u/orthocresol">/u/orthocresol</a>. However, because of time constraints, I will likely only fix bugs which completely break the app; I will not work on feature requests for now (although I will certainly take them into consideration for the future!)</p></li>

    <li><p>You can find the source code on <a href="https://github.com/yongrenjie/aprimon-prototype">GitHub</a> too (please feel free to submit issues or pull requests there if you are thus inclined!).</p></li>

</ul>

<hr>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.my_username.label }}</td>
            <td>{{ form.my_username }}</td>
        </tr>
        <tr>
            <td>{{ form.their_username.label }}</td>
            <td>{{ form.their_username }}</td>
        </tr>
        <tr>
            <td>{{ form.sort_by.label }}</td>
            <td>{{ form.sort_by }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form.submit() }}</td>
        </tr>
    </table>
</form>
{% endblock %}
